In [29]:
import numpy as np
import pandas as pd

In [84]:
df = pd.read_csv('swarm_train_data.csv')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18013 entries, 0 to 18012
Columns: 2401 entries, x1 to Class
dtypes: float64(1999), int64(401), object(1)
memory usage: 330.0+ MB

In [32]:
df.describe()

,y1,xVel1,yVel1,xA1,yA1,xS1,yS1,xC1,yC1,nAC1,...,yVel200,xA200,yA200,xS200,yS200,xC200,yC200,nAC200,nS200,Class
count,18013.000000,18013.000000,18013.000000,18013.000000,18013.000000,18013.000000,18013.000000,18013.000000,18013.000000,18013.000000,...,18013.000000,18013.000000,18013.000000,18013.000000,18013.000000,18013.000000,18013.000000,18013.000000,18013.000000,18013.000000
mean,-76.184822,-0.733670,0.183239,-0.148906,0.158274,-1.304686,-0.870929,-0.037237,0.076594,19.172986,...,0.215071,-0.125053,0.134539,-1.656987,-0.080935,-0.015850,0.090184,26.488925,2.190029,0.516682
std,572.116169,6.409622,7.376411,0.376818,0.593320,29.355828,22.649405,0.565769,0.637191,23.389772,...,7.679787,0.380890,0.572069,77.155840,7.402642,0.559505,0.622581,34.253546,7.633302,0.499735
min,-1010.420000,-18.590000,-18.410000,-1.000000,-1.000000,-944.070000,-847.910000,-2.680000,-2.680000,0.000000,...,-18.440000,-1.040000,-1.000000,-4079.230000,-370.240000,-2.680000,-2.680000,0.000000,0.000000,0.000000
25%,-612.120000,-5.410000,-5.640000,-0.240000,0.000000,0.000000,0.000000,-0.040000,-0.020000,3.000000,...,-5.440000,-0.200000,0.000000,0.000000,0.000000,-0.080000,0.000000,2.000000,0.000000,0.000000
50%,-160.550000,-0.440000,-1.360000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,...,-0.540000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,1.000000
75%,418.170000,3.750000,7.390000,0.000000,0.970000,0.000000,0.000000,0.000000,0.020000,32.000000,...,7.580000,0.000000,0.650000,0.000000,0.000000,0.000000,0.040000,35.000000,1.000000,1.000000
max,1012.960000,18.470000,18.630000,1.000000,1.040000,68.560000,234.740000,2.680000,2.680000,157.000000,...,18.530000,1.000000,1.040000,255.990000,68.940000,2.680000,2.680000,142.000000,64.000000,1.000000

In [33]:
#df['xm']
df.isna().sum()

x1        0
y1        0
xVel1     0
yVel1     0
xA1       0
         ..
xC200     0
yC200     0
nAC200    0
nS200     0
Class     0
Length: 2401, dtype: int64

In [34]:
#df[['y1', 'y200']]
#df.iloc[:,0:2]
df.head()

,x1,y1,xVel1,yVel1,xA1,yA1,xS1,yS1,xC1,yC1,...,yVel200,xA200,yA200,xS200,yS200,xC200,yC200,nAC200,nS200,Class
0,-489.28,-658.11,2.51,3.28,0.0,0.0,-0.26,0.35,0.93,-0.37,...,-4.17,0.0,0.0,0.33,0.29,-0.87,-0.50,112,40,1
1,-540.61,-670.93,-1.02,-4.76,0.0,0.0,-0.06,0.44,0.24,-0.97,...,-4.43,0.0,0.0,-0.15,0.41,-0.46,-0.89,112,9,1
2,379.83,-521.18,1.86,7.31,0.0,0.0,0.00,0.00,0.00,0.00,...,1.33,0.0,0.0,0.00,0.00,0.00,0.00,4,0,1
3,888.21,-146.53,-2.67,-18.10,0.0,0.0,0.00,0.00,0.00,0.00,...,-2.19,0.0,0.0,0.00,0.00,0.00,0.00,3,1,0
4,-452.43,-632.15,2.66,-2.63,0.0,0.0,-0.12,0.42,0.01,-1.00,...,2.54,0.0,0.0,0.00,0.00,-1.00,-0.10,112,0,1

In [42]:
type(df['x1'])

pandas.core.series.Series

In [68]:
#df['x1'] = df.x1.astype(float)
#df['x1'] = df['x1'].convert_objects(convert_numeric=True)
df['x1'] = pd.to_numeric(df['x1'], errors= 'coerce')

In [48]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18013 entries, 0 to 18012
Columns: 2401 entries, x1 to Class
dtypes: float64(2000), int64(401)
memory usage: 330.0 MB
None

In [69]:
X = df['x1']

In [74]:
X

0        -489.28
1        -540.61
2         379.83
3         888.21
4        -452.43
          ...
18008    -574.72
18009    -192.91
18010     273.54
18011    1096.38
18012     237.53
Name: x1, Length: 18013, dtype: float64

In [51]:
y = df['Class ']

In [75]:
y

0        1
1        1
2        1
3        0
4        1
        ..
18008    0
18009    0
18010    1
18011    1
18012    0
Name: Class , Length: 18013, dtype: int64

In [53]:
X.shape

(18013,)

In [54]:
y.shape

(18013,)

In [55]:
#X.ndim

In [71]:
X.isna().sum()

1

In [72]:
X = X.fillna(method = 'ffill')

In [73]:
X.isna().sum()

0

In [57]:
type(X)

pandas.core.series.Series

In [76]:
X.values

array([-489.28, -540.61,  379.83, ...,  273.54, 1096.38,  237.53])

In [77]:
X = X.values

In [78]:
X = X.reshape(-1,1)
X.shape

(18013, 1)

In [79]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn

KNeighborsClassifier()

In [62]:
X

array([[-489.28],
       [-540.61],
       [ 379.83],
       ...,
       [ 273.54],
       [1096.38],
       [ 237.53]])

In [63]:
y

0        1
1        1
2        1
3        0
4        1
        ..
18008    0
18009    0
18010    1
18011    1
18012    0
Name: Class , Length: 18013, dtype: int64

In [22]:
#df['x1'].abs()
#np.abs(X[0:2400])

array([[489.28],
       [540.61],
       [379.83],
       ...,
       [880.35],
       [733.16],
       [901.79]], dtype=object)

In [80]:
knn.fit(X,y)

KNeighborsClassifier()

In [81]:
knn.score(X,y)

0.7092100149891745

In [82]:
knn.predict([[107]])

array([1], dtype=int64)

In [ ]:
k cross validation
gird serachcv

In [ ]:
boxplot
distribution plot
histogram
scatter plot
bar chart